.product-outer {
  margin-top: 120px;
}

.margin-section {
  margin-top: 30px;
}

.sizeBtn {
  margin-right: 10px;
  margin-bottom: 10px;
}

.btnText {
  margin: 2px 18px;
}

.addBtn {
  width: 100%;
}
